<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>MY FORM</h1>
    <br>
    <form method="GET" action="{% url 'hotel:singletest' contact.id %}">
    {{ form }}
        <input type="submit">
    </form>
</body>
</html>

def see_more(request, id):
    seemore = Hotel.objects.get(id=id)
    reviews = HotelReview.objects.filter(review=id)
    form = HotelReviewForm()
    if request.method == "GET":
        form = HotelReviewForm(request.POST)
        if form.is_valid():
            data = form.save(commit=False)
            data.permission = True
            data.save()

            return redirect('hotel:seemore', id)
    print(seemore.id)

    context = {
        'seemore':seemore,
        'reviews':reviews,
        'form':form,

    }
    return render(request, 'hotel/seemore.html', context)