<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% for hotel in bad_hotels %}
    <div>
        <h1><a href="{% url 'hotel:singletest' hotel.id %}">{{ hotel.name }}</a></h1>
        <h1>{{ hotel.get_hotel_type_display }}</h1>
        <p>description: {{ hotel.description }}</p>
    </div>
    {% endfor %}


---------------------------------------------------------
    {% for hotel in shit_hotels %}
    <div>
        <h1><a href="{% url 'hotel:singletest' hotel.id %}">{{ hotel.name }}</a></h1>
        <h1>{{ hotel.get_hotel_type_display }}</h1>
        <p>description: {{ hotel.description }}</p>
    </div>
    {% endfor %}


</body>
</html>