{% extends 'hotel/base.html' %}
{% block content %}
{% load static %}

        <!-- Hotel -->
        <section>
            <div class="title5">
                <div class="titleplacement">
                    <p class="titletext">{{ seemore.name }}</p>
                </div>
            </div>
            <img src="{% static 'img/ambassadori.jpg' %}" class="cover" alt="tinki">
            <div class="hoteldesc">
                <p class="titletext">Hotel Description:</p>
                <p class="desctext">
                    {{ seemore.description }}                </p>
            </div>
            <div class="roomContainer">
                <div class="roomImgContainer">
                    <p class="paddingForTtl">Luxury Suit - $220</p>
                    <img src="{% static 'img/luxurySuit.jpg' %}" alt="Luxury Suit Image" class="roomPictures">
                    <form class="paddingForBtn">
                      <a href="seemore.html"> <input class="see-more" type="button" value="Book"></a>
                    </form>
                </div>
                <div class="roomImgContainer">
                    <p class="paddingForTtl">Junior Suit - $180</p>
                    <img src="{% static 'img/juniorSuit.jpg' %}" alt="Luxury Suit Image" class="roomPictures">
                    <form class="paddingForBtn">
                      <a href="seemore.html"> <input class="see-more" type="button" value="Book"></a>
                    </form>
                </div>
                <div class="roomImgContainer">
                    <p class="paddingForTtl">Superior Twin - $150</p>
                    <img src="{% static 'img/superiorTwin.jpg' %}" alt="Luxury Suit Image" class="roomPictures">
                    <form class="paddingForBtn">
                      <a href="seemore.html"> <input class="see-more" type="button" value="Book"></a>
                    </form>
                </div>
            </div>
            <div class="facilities-reviews">
                <div class="facilities">
                   <p class="se-p">Popular Facilities</p>
                   <ul>
                       <li class="fac"><i class="fas fa-swimmer iconsize"></i>   2 Swimming Pools</li>
                       <li class="fac"><i class="fas fa-wifi iconsize"></i>   Free WiFi</li>
                       <li class="fac"><i class="fas fa-parking iconsize"></i>   Free Parking</li>
                       <li class="fac"><i class="fas fa-utensils iconsize"></i>   Free Breakfast</li>
                       <li class="fac"><i class="fas fa-shuttle-van iconsize"></i>   Airport Shuttle</li>
                       <li class="fac"><i class="fas fa-child iconsize"></i>   Family Rooms</li>
                       <li class="fac"><i class="fas fa-spa iconsize"></i>   Spa</li>
                       <li class="fac"><i class="fas fa-glass-martini-alt iconsize"></i>   Bar</li>
                   </ul>
                </div>
                <div class="reviews">
                    <div class="reviewBox1">
                        <h1 class="se-review">Reviews:</h1>
                        {% for review in reviews %}
                        <div class="reviewBox1Child">
                            <div class="nameHolder">
                                <img src="{{ review.picture.url }}" class="customerPic" alt="Customer Picture">
                                <p class="customerName">{{ review.customer_name }}</p>
                            </div>
                            <p class="reviewText">{{ review.comment }}</p>
                        </div>
                        {% endfor %}
                        <form>
                            <a href="#"> <input class="see-more see-rev" type="button" value="All reviews"></a>
                        </form>
                    </div>
                    <div class="reviewBox2">

                        <form>
                           <div class="for">
                               <h2 class="rev-name">Name</h2>
                               <input class="firstname" type="text" name="first_name">
                               <h2 class="name">Email</h2>
                               <input class="email" type="text" name="email">
                               <div class="se-textarea">
                                   <label for="Message"> Coment </label>
                                   <textarea id="Message" placeholder="write your review..."></textarea>
                               </div>
                               <div class="buto"><button id="button" class="a" type="submit">SUBMIT</button></div>
                               <script>
                                   document.getElementById('button').addEventListener('click', function(){
                                       alert('Your review has been submitted successfully')
                                   })
                               </script>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}